<%- include('./partials/head.ejs')%>





<div  class="text-center" >
    <img id="pic404"  src="/images/404.gif" alt="">
</div>

<style >
  body{background-color:rgb(49, 17, 85);}
</style>


</body>
</html>