<%- include('./partials/head.ejs')%>


<nav class="navbar navbar-expand-lg navbar-light bg-light"  >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="background-color: #9062da;">
        
        
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" >
            <h5><a class="nav-link" href="/loginadmin" style="padding-left:1300px ;" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg> logout </a></h5>
        </li>
        
       
      </ul>
    </div>
    </div>
  </nav>



<div class="body">





<div class="container text-center">

<h1 class="pageTitleAdmin">Admin System</h1>
<br><br><br>
<div >
<a href="/admin/users"><button id="adminBtn1"  class="btn btn-primary">Manage users</button></a>
<br>
<a href="/admin/blogs"> <button id="adminBtn1" class="btn btn-success">Manage blogs</button></a>
<br>
<a href="/admin/create"> <button id="adminBtn1" class="btn btn-primary">Create new user</button></a>




</div>
</div>
<%- include('./partials/footer.ejs')%>

</div>
</body>
</html>